body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
}

.header{
    width: 100%;
    height: 100px;
    background-color: rgb(21, 131, 221);
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
}

.top{
    width: 100%;
    height: 65%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 15%;
    height: 100%;
    background-color: rgb(21, 131, 221);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo:hover{
    width: 15%;
    height: 100%;
    background-color: rgb(74, 167, 238);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a{
    height: 100%;
}

.logo img{
    height: 100%;
}

#user{
    margin-right: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#username{
    font-weight: bolder;
    font-size: 15pt;
}

#logout a{
    text-decoration: none;
    color: red;
    font-size: 10pt;
}

.navbar{
    width: 100%;
    height: 35%;
    background-color: rgb(196, 196, 196);

   
}

.menu-button{
    width: 50px;
    height: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar .menu-button img{
    height: 80%;
    width: 40px;
    padding: 0px 0px 0px 10px;

}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar img:hover{
    opacity: 50%;
    cursor: pointer;
}

.menu-button:hover .subnav{
    display: block;
} 

.subnav{
    position: absolute;
    background-color: rgb(21, 131, 221);
    display: none;
    color: rgb(224, 224, 224);
    top: 100px;
    width: 120px;
    border-radius: 0px 0px 20px 0px;
}

.subnav li{
    list-style-type: none;
    position: relative;
    padding: 15px;
}

.subnav li:hover{
    cursor: pointer;
    background-color: gray;
}
.donation-category{
    display: none;
}

#donation:hover .donation-category{
    display: block;
    position: relative;
}

#donation:hover .donation-category li{
    background-color: rgb(74, 167, 238);
}

#donation:hover .donation-category li:hover{
    background-color: rgb(173, 173, 173);
}

#last{
    border-radius: 0px 0px 20px 0px;
}

.content{
    width: 100%;

    padding-top: 100px;
    padding-bottom: 20px;
}

#atas{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#profil img{
    height: 120px;
}

#profilnama{
    position: relative;
    right: 400px;

    color: lightgray;
    font-weight: bolder;
    font-size: 18pt; 
}

#nama{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#identitas{
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15pt;
    font-weight: bold;
}

#bawah{
    width: 100%;
    height: 40px;
    
    margin-top: 30px;
    text-align: center;

    display: flex;
    justify-content: center;
}

#bawah a{
    width: 150px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: solid black;

    background-color: #65B4E0;
    text-decoration: none;
    color: white;
    font-size: 20pt;
    font-weight: bold;
}

#bawah a:hover{
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}

.footer{
    width: 100%;
    height: 10%;
    background-color:  rgb(21, 131, 221);

    display: flex;
    flex-direction: column;
}

.sosmed{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sosmed img{
    height: 70%;
    margin-left: 5px;
}

.copyright{
    width: 100%;
    height: 40%;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:520px){
    .logo{
        width: 30%;
    }
}

@media screen and (max-width:950px) {
    .logo{
        width: 25%;
    }

    .logo img{
        height: 90%;
    }
}