body{
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100vh;

    font-family: sans-serif;
}

.header{
    width: 100%;
    height: 135px;
    background-color: rgb(21, 131, 221);
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
}

.top{
    width: 100%;
    height: 65px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 15%;
    height: 100%;
    background-color: rgb(21, 131, 221);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo:hover{
    width: 15%;
    height: 100%;
    background-color: rgb(74, 167, 238);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a{
    height: 100%;
}

.logo img{
    height: 100%;
}

.login{
    width: 15%;
    height: 100%;
    background-color: rgb(21, 131, 221);

    display: flex;
    justify-content: center;
    align-items: center;
}

.login:hover{
    width: 15%;
    height: 100%;
    background-color: rgb(74, 167, 238);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login{
    font-size: 15pt;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navbar{
    width: 100%;
    height: 35px;
    background-color: rgb(196, 196, 196);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-button{
    width: 50px;
    height: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar .menu-button img{
    height: 80%;
    width: 40px;
    padding: 0px 0px 0px 10px;

}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar img:hover{
    opacity: 50%;
    cursor: pointer;
}

.menu-button:hover .subnav{
    display: block;
} 

.subnav{
    position: absolute;
    background-color: rgb(21, 131, 221);
    display: none;
    color: rgb(224, 224, 224);
    top: 100px;
    width: 120px;
    border-radius: 0px 0px 20px 0px;
}

.subnav li{
    list-style-type: none;
    position: relative;
    padding: 15px;
}

.subnav li:hover{
    cursor: pointer;
    background-color: gray;
}
.donation-category{
    display: none;
}

#donation:hover .donation-category{
    display: block;
    position: relative;
}

#donation:hover .donation-category li{
    background-color: rgb(74, 167, 238);
}

#donation:hover .donation-category li:hover{
    background-color: rgb(173, 173, 173);
}

#last{
    border-radius: 0px 0px 20px 0px;
}

.navbar1{
    width: 100%;
    height: 35px;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgb(192, 192, 192);
}

.navbar1 a{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: black;
    font-size: 15pt;
    font-weight: bold;
}

#kategori1{
    border-right: 1px solid rgb(192, 192, 192);
}

#kategori2{
    color: rgb(21, 131, 221);
    border-bottom: 5px solid rgb(21, 131, 221);
}

.search-bar{
    width: 40%;
    height: 85%;

    background-color: white;
    
    margin-left: auto;
    margin-right: 5px;

    display: flex;
    flex-direction: row;
}

.search-bar button{
    height: 100%;
    border: none;
}

.search-bar img{
    height: 100%;
}

.search-bar input{
    width: 100%;
    height: 100%;
    border-style: none;
    
    font-size: 15pt;
}

.search-bar input:focus{
    outline: none;
}

.konten{
    padding-top: 150px;
    padding-bottom: 20px;
    height: calc(100vh - 135px - (10 / 100 * 100vh));
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    justify-content:space-evenly;
    background-color: white;
    font-weight: bold;
    font-size: 15pt;
}

.kotak{
    width: 200px;
    height: 300px;
    border: solid black;
    margin-bottom: 30px;
    box-shadow: 0px 0px 15px 1px grey;

    display: flex;
    flex-direction: column;
}

.kotak .banner{
    width: 100%;
    height: 70%;

    background-color: grey;
}

.atas{
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.like{
    width: 30px;
    height: 40px;
}

.like img{
    height: 100%;
}

.menu{
    width: 30px;
    height: 40px;
}

.menu img{
    height: 100%;
}

.judul{
    width: 100%;
    height: 15%;
    
    border-top: solid black;
    border-bottom: solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 15pt;
    text-align: center;
}

.bawah{
    width: 100%;
    height: 15%;
    
    display: flex;
    flex-direction: row;
}

.learn-prog{
    width: 80%;
    height: 100%;
    border: none;
    border-right: solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.learn-prog{
    font-size: 15pt;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.bookmark{
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bookmark img{
    height: 60%;
}

.footer{
    width: 100%;
    height: 10%;
    background-color:  rgb(21, 131, 221);

    display: flex;
    flex-direction: column;
}

.sosmed{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sosmed img{
    height: 70%;
    margin-left: 5px;
}

.copyright{
    width: 100%;
    height: 40%;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:520px){
    .logo{
        width: 30%;
    }
}

@media screen and (max-width:950px) {
    .konten{
        height: 800px;
    }
    
    .logo{
        width: 25%;
    }

    .logo img{
        height: 90%;
    }
}